<div class="row clearfix row-deck">
                    <div class="col-6 col-md-3 col-xl-3">
                        <div class="card">
                            <div class="card-body ribbon">
                                <div class="ribbon-box green" data-toggle="tooltip" title="Quizz en ligne">{{stats.quizzs}}</div>
                                <a href="#" class="my_sort_cut text-muted">
                                    <i class="fa fa-puzzle-piece"></i>
                                    <span>Quizzs</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 col-xl-3">
                        <div class="card">
                            <div class="card-body ribbon">
                            <div class="ribbon-box green" data-toggle="tooltip" title="Total Categories">{{stats.categories}}</div>
                                <a href="#" class="my_sort_cut text-muted">
                                    <i class="fa fa-get-pocket"></i>
                                    <span>Categories</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 col-xl-3">
                        <div class="card">
                            <div class="card-body ribbon">
                                <div class="ribbon-box orange" data-toggle="tooltip" title="Question">{{stats.questions}}</div>
                                <a href="#" class="my_sort_cut text-muted">
                                    <i class="fa fa-question-circle-o"></i>
                                    <span>Questions</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 col-xl-3">
                        <div class="card">
                            <div class="card-body ribbon">
                            <div class="ribbon-box orange" data-toggle="tooltip" title="Utilisateurs inscrit">{{ stats.users }}</div>
                                <a href="#" class="my_sort_cut text-muted">
                                    <i class="fa fa-user-circle-o"></i>
                                    <span>Utilisateurs</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>